@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  color: #4e301b;
  width: 100%;
  margin: 0;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline: 0;
  margin-block: 0;
}

th,
td {
  padding: 0;
}

h4 {
  font-size: 1.125rem;
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 1rem;
  }
}

textarea {
  display: block;
}

.footer {
  background-color: #faf7f0;
}

.footer__inner {
  width: 100%;
  max-width: 1280px;
  padding-top: 24px;
  padding-bottom: 97px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1279px) {
  .footer__inner {
    padding-inline: 1.25rem;
    padding-bottom: 144px;
  }
}
@media screen and (max-width: 767px) {
  .footer__inner {
    padding-inline: 1rem;
    padding-bottom: 124px;
  }
}

.footer__contents {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.footer__logo-mark {
  display: inline-block;
  width: 96px;
  height: 96px;
}

.footer__logo-text {
  margin-bottom: 2.0625rem;
}

.footer__logo-text-image {
  display: block;
}

.footer-nav__list {
  display: flex;
  gap: 1.5rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .footer-nav__list {
    width: 80%;
    max-width: 20rem;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }
}

.footer-nav__item {
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .footer-nav__item {
    font-size: 0.875rem;
  }
}

.footer-nav__anchor {
  color: #3d1c00;
}

.footer__image1 {
  background-image: url("../../img/compressed/footer-image-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 250px;
  height: 166px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
@media screen and (max-width: 1279px) {
  .footer__image1 {
    width: 191px;
    height: 127px;
  }
}
@media screen and (max-width: 767px) {
  .footer__image1 {
    width: 160px;
    height: 106px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /*2倍の画像を指定*/
  .footer__image1 {
    background-image: url("../img/compressed/footer-image-01@2x.png");
  }
}
.footer__image2 {
  background-image: url("../../img/compressed/footer-image-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 203px;
  height: 153px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
@media screen and (max-width: 1279px) {
  .footer__image2 {
    width: 155px;
    height: 117px;
    right: 16px;
  }
}
@media screen and (max-width: 767px) {
  .footer__image2 {
    width: 129px;
    height: 98px;
    right: 16px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /*2倍の画像を指定*/
  .footer__image2 {
    background-image: url("../img/compressed/footer-image-02@2x.png");
  }
}
.copyright {
  background-color: #f2f2f2;
  padding-block: 22px;
}

.copyright__text {
  text-align: center;
  font-size: 12px;
  color: #3d1c00;
}

.gnav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
}

.gnav.nav-fixed {
  position: fixed; /*fixedを設定して固定*/
  width: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #f1e8d6;
}

.left-gnav {
  position: absolute;
  top: 50%;
  left: calc(50% - 150px);
  transform: translate(-100%, -50%);
}
@media screen and (max-width: 1279px) {
  .left-gnav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .left-gnav {
    display: none;
  }
}

.right-gnav {
  position: absolute;
  top: 50%;
  left: calc(50% + 150px);
  transform: translate(0%, -50%);
}
@media screen and (max-width: 1279px) {
  .right-gnav {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .right-gnav {
    display: none;
  }
}

.gnav__item {
  display: inline-block;
  font-weight: bold;
}

.left-gnav__item:first-of-type {
  padding-right: 33px;
}
.left-gnav__item:nth-of-type(2) {
  padding-right: 35px;
}
.left-gnav__item:last-of-type {
  padding-right: 39px;
}

.right-gnav__item:first-of-type {
  padding-left: 39px;
}
.right-gnav__item:nth-of-type(2) {
  padding-left: 38px;
}
.right-gnav__item:last-of-type {
  padding-left: 34px;
}

.left-gnav__anchor,
.right-gnav__anchor {
  color: #3d1c00;
}

.gnav__logo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .gnav__logo-text {
    position: static;
    width: 100%;
    transform: none;
    text-align: center;
  }
}

header {
  background-color: #f1e8d6;
}

.header__inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding-inline: 24px;
}
@media screen and (max-width: 1279px) {
  .header__inner {
    padding-inline: 20px;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    padding-inline: 16px;
  }
}

.header__logo-mark {
  width: 154px;
  height: 154px;
  margin: -72px auto -29px;
  position: relative;
  border-radius: 50%;
  background: #f1e8d6;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #f1e8d6;
  text-align: center;
}

.loading__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
}

.loading__image-box {
  text-align: center;
}

.loading__img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.slide-out {
  transform: translateY(-100%);
  transition: 3s ease-out;
  transition-delay: 3s;
}

.loaded {
  opacity: 0;
  visibility: hidden;
}

.fv__inner {
  background-image: url("../img/compressed/fv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 767px) {
  .fv__inner {
    height: 72vh;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .fv__inner {
    background-image: url("../img/compressed/fv@2x.jpg");
  }
}
@media screen and (min-width: 1400px) and (-webkit-max-device-pixel-ratio: 1.1) {
  .fv__inner {
    background-image: url("../img/compressed/fv@2x.jpg");
  }
}

.fv__heading {
  writing-mode: vertical-rl;
  position: absolute;
  top: 14.85vh;
  right: 10.6vw;
}
@media screen and (max-width: 767px) {
  .fv__heading {
    writing-mode: horizontal-tb;
    top: 68%;
    left: 33px;
    transform: translateY(-50%);
  }
}

.fv__span-text {
  background-color: #faf7f0;
  line-height: 1.5;
  letter-spacing: 0.5em;
  padding: 0.3em 0.218em 0em;
  margin: 0 0.328em;
  display: inline-block;
  height: 486px;
  white-space: nowrap;
}
.fv__span-text:last-of-type {
  height: 199px;
}
@media screen and (max-width: 767px) {
  .fv__span-text {
    line-height: 1;
    letter-spacing: normal;
    font-size: 1.5rem;
    padding: 0.29em;
    margin: 0;
    height: auto;
  }
  .fv__span-text:last-of-type {
    height: auto;
  }
}

.logo-mark__anchor {
  display: inline-block;
  position: relative;
  width: 154px;
  height: 154px;
  border-radius: 50%;
  background: #f1e8d6;
}

.logo-mark__img {
  width: 110px;
  height: 110px;
  margin: auto;
}

.logo-mark__img--in-circle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo-text {
  cursor: pointer;
}

.logo-text__img {
  display: inline;
}

.burger-button {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-image: url(../img/svg/burger.svg);
  background-color: #ea8c08;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  display: none;
}
@media screen and (max-width: 1279px) {
  .burger-button {
    display: block;
  }
}

.burger-menu {
  width: 100vw;
  height: 100vh;
  background: rgba(250, 247, 240, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s linear;
  text-align: center;
}

.burger-button.open {
  background-image: url(../img/svg/close.svg);
}

.burger-menu.open {
  pointer-events: auto;
  opacity: 1;
}

.burger-menu__logo-mark {
  margin-top: 9vh;
}

.burger-menu__logo-text {
  margin-bottom: 36px;
}

.burger-logo-mark__anchor {
  width: 55px;
  height: 55px;
}

.burger-menu__list {
  font-weight: bold;
}

.burger-menu__item {
  margin-bottom: 16px;
}

.burger-menu__anchor {
  color: #3d1c00;
  display: inline-block;
}

main {
  background-color: #f1e8d6;
}

.main__inner {
  padding-top: 20px;
}

section:first-of-type,
section:nth-of-type(even) {
  background-color: #f1e8d6;
}

section:nth-of-type(2n + 3) {
  background-color: #faf7f0;
}

.section__inner {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1.5rem;
  position: relative;
  z-index: 0;
}
@media screen and (max-width: 1279px) {
  .section__inner {
    padding-inline: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .section__inner {
    padding-inline: 1rem;
  }
}

.about__inner {
  padding-bottom: 97px;
}
@media screen and (max-width: 767px) {
  .about__inner {
    padding-inline: 0;
    padding-top: 25px;
  }
}

.about__images {
  height: 812px;
  margin-right: 2.6875rem;
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 3;
}
@media screen and (max-width: 1279px) {
  .about__images {
    margin-right: 1.25rem;
    height: 688px;
  }
}
@media screen and (max-width: 767px) {
  .about__images {
    margin-right: 0;
    position: static;
    height: 240px;
  }
}

.about__image1 {
  background-image: url("../../img/compressed/about-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 150px;
  width: clamp(30rem, 1.313rem + 59.77vw, 49.125rem);
  height: 524px;
  margin-bottom: 38px;
}
@media screen and (max-width: 1279px) {
  .about__image1 {
    height: 400px;
    border-radius: 100px;
  }
}
@media screen and (max-width: 767px) {
  .about__image1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 600px;
    position: static;
    width: 80%;
    height: 240px;
    border-radius: 60px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .about__image1 {
    background-image: url("../img/compressed/about-01@2x.jpg");
  }
}

.about__image2 {
  background-image: url("../../img/compressed/about-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50px;
  width: calc(clamp(30rem, 1.313rem + 59.77vw, 49.125rem) * 0.5);
  height: 250px;
  float: right;
}
@media screen and (max-width: 1279px) {
  .about__image2 {
    height: 200px;
    border-radius: 40px;
  }
}
@media screen and (max-width: 767px) {
  .about__image2 {
    width: calc(80% / 2);
    height: 120px;
    border-radius: 30px;
    display: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .about__image2 {
    background-image: url("../img/compressed/about-02@2x.jpg");
  }
}

.about__image2--sp {
  background-image: url("../../img/compressed/about-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: none;
}
@media screen and (max-width: 767px) {
  .about__image2--sp {
    display: block;
    float: right;
    width: calc(80% / 2);
    height: 120px;
    border-radius: 30px;
    margin-top: -10px;
    margin-right: 0.5rem;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .about__image2--sp {
    background-image: url("../img/compressed/about-02@2x.jpg");
  }
}

.about__lede {
  color: #96440a;
  background-color: rgba(250, 247, 240, 0.9);
  font-size: 2.5rem;
  padding: 0.2em 0.25em;
  display: inline-block;
  margin-top: 81px;
  margin-bottom: 28px;
  margin-left: clamp(0rem, -14.438rem + 30.08vw, 9.625rem);
  position: relative;
  z-index: 6;
}
@media screen and (max-width: 1279px) {
  .about__lede {
    font-size: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .about__lede {
    font-size: 1.5rem;
    background-color: rgb(250, 247, 240);
    margin: 20px 1rem;
    text-align: center;
  }
}

.lede-break {
  display: inline;
}
@media screen and (max-width: 767px) {
  .lede-break {
    display: inline-block;
  }
}

.about__text {
  color: #8f6241;
  background-color: rgba(250, 247, 240, 0.9);
  font-weight: bold;
  font-size: clamp(0.875rem, 0.688rem + 0.39vw, 1rem);
  line-height: 2.5;
  padding: 0.9375em;
  margin-left: clamp(0rem, -14.438rem + 30.08vw, 9.625rem);
  width: 100%;
  max-width: 526px;
  position: relative;
  z-index: 6;
}
@media screen and (max-width: 767px) {
  .about__text {
    position: static;
    width: auto;
    margin-inline: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .pc-and-tab-break {
    display: none;
  }
}

.sp-break {
  display: none;
}
@media screen and (max-width: 767px) {
  .sp-break {
    display: block;
  }
}

.section__title {
  font-size: 2rem;
  text-align: center;
}

.products__inner {
  padding-top: 89px;
  padding-bottom: 86px;
}

.news__inner {
  padding-top: 92px;
  padding-bottom: 91px;
}

.faq__inner {
  padding-top: 91px;
  padding-bottom: 91px;
}

.access__inner {
  padding-top: 91px;
  padding-bottom: 73px;
}

.contact__inner {
  padding-top: 104px;
  padding-bottom: 30px;
}

.products__title {
  margin-bottom: 91px;
}

.products__slider {
  overflow: hidden;
}

.swiper-wrapper {
  padding-bottom: 6px;
  transition-timing-function: linear !important;
}

.swiper-slide__wrapper {
  width: 264px;
  height: 331px;
  background-color: #faf7f0;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

.swiper-slide__image {
  height: 166px;
  width: 100%;
}

.swiper-slide__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide__text {
  padding: 1rem;
}

.slider-text__product-name {
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2.375rem;
}

.slider-text__product-name--small-margin {
  margin-bottom: 0.825rem;
}

.news__contents {
  width: 75.8%;
  margin-inline: auto;
}
@media screen and (max-width: 1279px) {
  .news__contents {
    width: 82%;
  }
}

.news__heading {
  margin-bottom: 88px;
}

.news__item {
  border-top: 1px solid #c6c6c6;
}
.news__item:last-of-type {
  border-bottom: 1px solid #c6c6c6;
}

.news__anchor {
  padding-block: 1.34375em;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 774px) {
  .news__anchor {
    display: block;
  }
}

.news__date {
  color: #403f3f;
  font-size: 0.8125rem;
  margin-right: 9.231em;
  margin-block: auto;
}
@media screen and (max-width: 767px) {
  .news__date {
    margin-bottom: 6px;
  }
}

.news__title {
  color: #3d1c00;
  font-size: 1rem;
}

.news__image {
  background-image: url("../../img/compressed/body-image-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 190px;
  height: 190px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
  z-index: 3;
}
@media screen and (max-width: 1279px) {
  .news__image {
    width: 146px;
    height: 146px;
  }
}
@media screen and (max-width: 767px) {
  .news__image {
    width: 121px;
    height: 121px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .news__image {
    background-image: url("../img/compressed/body-image-01@2x.png");
  }
}

.faq__title {
  margin-bottom: 73px;
}

.faq__list {
  max-width: 740px;
  margin-inline: auto;
}

.faq__item {
  margin-bottom: 31px;
}
.faq__item:last-of-type {
  margin-bottom: 0;
}

.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em 0.875em 0.75em;
  background-color: #faf7f0;
  cursor: pointer;
  width: 100%;
  line-height: 1.5;
  border: 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .faq__question {
    padding-right: 2.125em;
  }
}

.question__heading {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  color: #3d1c00;
}

.question__heading--roboto {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
@media screen and (max-width: 767px) {
  .question__heading--roboto {
    font-size: 1.4rem;
  }
}

.question__heading--main-text {
  text-align: left;
}

.faq__answer {
  margin-top: 24px;
  display: none;
}

.answer__text {
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
  .answer__spacing {
    display: block;
    margin-bottom: 16px;
  }
}

.faq__arrow {
  transition: 0.3s;
  position: absolute;
  top: 50%;
  right: 0.875em;
  transform: translateY(-50%);
}

.reverse {
  transform: rotate(180deg) translateY(50%);
  transition: 0.3s;
}

.faq__image {
  background-image: url("../../img/compressed/body-image-02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 220px;
  height: 193px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateY(63.96%);
  z-index: 3;
}
@media screen and (max-width: 1279px) {
  .faq__image {
    width: 168px;
    height: 148px;
  }
}
@media screen and (max-width: 767px) {
  .faq__image {
    width: 141px;
    height: 123px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .faq__image {
    background-image: url("../img/compressed/body-image-02@2x.png");
  }
}

.access__title {
  margin-bottom: 90px;
}

.access__contents {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 934px;
  width: 100%;
  margin-inline: auto;
}

.company-map {
  width: 100%;
  max-width: 443px;
}

.company-map__iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 443/334;
}

.access__company-overview {
  border-collapse: collapse;
  font-weight: bold;
  font-size: 1.125rem;
  max-width: 459px;
  width: 100%;
}

.table-heading {
  text-align: left;
}

.access__table-row {
  border-top: 1px solid #c6c6c6;
  height: 4.1875rem;
}
.access__table-row:last-of-type {
  border-bottom: 1px solid #c6c6c6;
}

.access__table-heading {
  width: 37.9%;
  max-width: 9.666666em;
}

@media only screen and (max-width: 767px) {
  .table-row {
    height: auto;
  }
  .table-heading {
    width: 100%;
    display: block;
  }
  .table-data {
    width: 100%;
    display: block;
  }
  .access__table-heading {
    margin-top: 1.5em;
  }
  .access__table-data {
    margin-bottom: 1.5em;
  }
}
.access__image {
  background-image: url("../../img/compressed/body-image-03.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 268px;
  height: 133px;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translateY(48%);
  z-index: 3;
}
@media screen and (max-width: 1279px) {
  .access__image {
    width: 205px;
    height: 102px;
  }
}
@media screen and (max-width: 767px) {
  .access__image {
    width: 172px;
    height: 85px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
  .access__image {
    background-image: url("../img/compressed/body-image-03@2x.png");
  }
}

.contact__title {
  margin-bottom: 67px;
}

.contact__subtext {
  text-align: center;
  margin-bottom: 93px;
}

.contact-form__inner {
  width: 100%;
  max-width: 740px;
  margin-inline: auto;
  background-color: #faf7f0;
  border-radius: 1.25rem;
  padding-top: 37px;
  padding-bottom: 43px;
}

.contact-form__title {
  text-align: center;
  margin-bottom: 41px;
}

.contact-form__table {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 26px;
  border-spacing: 0;
}

.table-heading--vertical-top {
  vertical-align: top;
}

.contact-form__table-heading {
  padding-right: 3.625rem;
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .contact-form__table-heading {
    padding-bottom: 0.75rem;
  }
}

.table-heading--next-to-textarea {
  padding-top: 5px;
}
@media screen and (max-width: 767px) {
  .table-heading--next-to-textarea {
    padding-top: 0;
  }
}

.contact-form__table-data {
  padding-bottom: 1.5rem;
}
@media screen and (max-width: 767px) {
  .contact-form__table-data {
    padding-bottom: 2.5rem;
  }
}

.pt-0 {
  padding-top: 0px;
}

.contact-form__radio-label {
  display: block;
  position: relative;
  padding-left: 1.4375rem;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 1.4375;
}
.contact-form__radio-label:last-of-type {
  margin-bottom: 0;
}

.contact-form__radio-button {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* ラジオボタンのデザイン */
.contact-form__radio-text::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 2px solid #3d1c00; /* Border color */
  border-radius: 50%; /* Rounded corners for radio button */
  position: absolute;
  left: 0;
  top: 52%;
  transform: translateY(-50%);
}

.contact-form__radio-button:checked + .contact-form__radio-text::before {
  background-color: #3d1c00;
}

.contact-form__radio-button:checked + .contact-form__radio-text::after {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #faf7f0;
  border-radius: 50%;
  position: absolute;
  top: 52%;
  left: 0.5rem;
  transform: translate(-50%, -50%);
}

/* フォーカス時のラジオボタン */
.contact-form__radio-button:focus + .contact-form__radio-text::before {
  outline: 2px solid #ea8c08; /* Outline color when focused */
}

.contact-form__input,
.contact-form__textarea {
  background-color: #efeae6;
  border: 0;
  border-radius: 5px;
  width: 20.875em;
  padding: 0.5rem;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
@media screen and (max-width: 767px) {
  .contact-form__input,
  .contact-form__textarea {
    width: calc(100vw - 40px - 30px);
  }
}

.contact-form__input:focus,
.contact-form__textarea:focus {
  outline: 2px solid #ea8c08;
}

.contact-form__input--postal-code {
  width: 9.8125em;
}

.contact-form__textarea {
  resize: none;
  height: 10.625em;
}
@media screen and (max-width: 767px) {
  .contact-form__textarea {
    height: 14em;
  }
}

.required-notice {
  background-color: #ea8c08;
  border-radius: 0.714em;
  font-size: 0.875rem;
  padding: 0.357em 0.786em;
  margin-left: 1.125rem;
  color: #faf7f0;
}

.submit-button {
  display: block;
  margin-inline: auto;
  background-color: #ea8c08;
  font-weight: bold;
  font-size: 0.875rem;
  color: #faf7f0;
  cursor: pointer;
  border: 0;
  border-radius: 0.625rem;
  padding-block: 0.8125rem;
  width: 80%;
  max-width: 243px;
}

@media screen and (max-width: 767px) {
  .text__spacing {
    margin-bottom: 24px;
    display: block;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=front-page.css.map */